*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Arial,Helvetica,sans-serif;
scroll-behavior:smooth;
}

body{
background:#f4f4f4;
color:#333;
}

header{
background:#222;
padding:20px 0;
position:sticky;
top:0;
z-index:1000;
}

nav{
width:90%;
margin:auto;
display:flex;
justify-content:space-between;
align-items:center;
}

.logo{
color:white;
}

nav ul{
display:flex;
list-style:none;
}

nav ul li{
margin-left:25px;
}

nav ul li a{
text-decoration:none;
color:white;
font-weight:bold;
}

.hero{

display:flex;
justify-content:space-around;
align-items:center;
padding:80px 10%;
background:linear-gradient(135deg,#0066ff,#00ccff);
color:white;
flex-wrap:wrap;

}

.hero-text{
max-width:500px;
}

.hero-text h1{
font-size:50px;
}

.hero-text span{
color:yellow;
}

.hero-text h2{
margin:20px 0;
}

.hero-text p{
line-height:1.7;
margin-bottom:20px;
}

.btn{
background:white;
padding:12px 25px;
color:#0066ff;
text-decoration:none;
font-weight:bold;
border-radius:5px;
}

.hero-image img{

width:300px;
height:300px;
border-radius:50%;
border:6px solid white;
object-fit:cover;

}

section{

padding:70px 10%;

}

section h2{

text-align:center;
margin-bottom:30px;
font-size:35px;

}

.skill-container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(150px,1fr));
gap:20px;

}

.card{

background:white;
padding:30px;
text-align:center;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
font-weight:bold;
transition:.3s;

}

.card:hover{

transform:translateY(-8px);

}

.project-container{

display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:20px;

}

.project{

background:white;
padding:20px;
border-radius:10px;
box-shadow:0 5px 15px rgba(0,0,0,.1);

}

form{

display:flex;
flex-direction:column;
width:500px;
max-width:100%;
margin:auto;

}

input,textarea{

margin:10px 0;
padding:15px;
font-size:16px;

}

button{

padding:15px;
background:#0066ff;
color:white;
border:none;
cursor:pointer;
font-size:18px;

}

button:hover{

background:#004dcc;

}

footer{

background:#222;
color:white;
text-align:center;
padding:20px;

}

@media(max-width:768px){

.hero{

flex-direction:column;
text-align:center;

}

.hero-image{

margin-top:30px;

}

.hero-text h1{

font-size:40px;

}

}